.formContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;

  background-color: var(--background);
  padding: 0.5rem;
  border-radius: 1rem;
}

.formContainer button,
.formContainer input {
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
}

.formContainer input {
  width: 100%;
}

.formContainer button {
  background-color: var(--secondary);
  transition: background-color 0.2s ease;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: var(--accent);
  color: white;
}
